/node_modules
/node_modules/**
/dist
/build
/build-next
/build-previous
/build-broken
/coverage
/logs
/temp
/uploads

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test